<form name="authForm" novalidate ng-submit="$ctrl.submitForm();">
	<label>
		<input 	required="required" 
				type="email" 
				name="email" 
				placeholder="Email" 
				ng-model="$ctrl.user.email"/>	
	</label>
	<label ng-if="$ctrl.isRegister">
		<input 	required="required"
				type="text" 
				name="firstName"
				placeholder="Name"
				ng-model="$ctrl.user.username"/>
	</label>
	<label>
		<input 	required="required" 
				type="password" 
				name="password"
				placeholder="Password" 
				ng-model="$ctrl.user.password"/>	
	</label>
	<div class="auth-button">
		<button ng-disabled="authForm.invalid" type="submit">
			{{ $ctrl.button }}
		</button>
	</div>
	<div ng-if="$ctrl.message">
		{{ $ctrl.message }}
	</div>
	
		
		
</form>