.classContainer{
    border-top: solid;
    border-color: beige;
    text-align: center;
    position: relative;
    left: 15%;
    width: 85%;
    background-color: red;
    height: 42em;
}



.navContainer {
    overflow: hidden;
    background-color:#0C2340;
    width: 100%;
    float: left;
    display: block;
    color: #0C2340;
    text-align: center;
    text-decoration: none;
    margin: 0;
    border-bottom: solid;
    border-color: beige;
    overflow: hidden;

  }

li a{
    color: white;
    text-decoration: none;
}

li{

    margin: 1em;
    margin-top: 0.75em;
    padding: 1em;
    width: 7em;
    border-style: solid;
    border-color: black;
    background-color: #C99700;
    float: left;
}

li:hover{
    border-color:#00843D;
    background-color: #00843D;
    cursor: pointer;



}
  ul {
    list-style-type: none;

}
  


.header {
    font-size: 1.5em;
    color: gold;
    background-color: darkblue;
    padding: 1em;
    padding-bottom: 0px;
    border: 0.4em solid grey;
}

.container {
    background-color: lightblue;
    border-left: 0.8em solid grey;
    border-right: 0.8em solid grey;
    border-bottom: 0.8em solid grey;

    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 5em;

}

.resultIMG {
    width: 500px;
    height: 400px;
}

.form_buttons{
    display: flex;
}

.main-page{
    display: flex;
    flex-direction: column;
}

.course-MainView{
    position: relative;
}

.course-sidebar {
  background-color: #0C2340;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 14.9%;
  height: 42em;
  border-right: solid;
  border-color: #0C2340;
}
