<div class="navigation">
    <div class="navContainer">
        <!--Make question for each class in JSON-->
        <ul>
            <li>Sakai</li>
        <div class="navLink" ng-repeat="class in $ctrl.classes">
            <li><a ng-click="$ctrl.updateCourse(class.id)">{{class.title}}</a></li>
        </div>
        </ul>
        <br>
        <br>
    <div class="header__logout">
        {{ ::$ctrl.user.email }}
        <a href="" ng-click="$ctrl.onLogout();">
            <span class="header__button">
                Logout
            </span>
    </div>

    <br />
    <br />

    <br>
</div>
